.app {
    border: 2px solid blue;
    padding: 10px;
}

/* HEADER */
.header {
    border: 2px solid red;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header>div {
    border: 1px solid white;
    padding: 10px;
}

.header>.title-description>h1,
.header>.title-description>p,
.header>.scores-container>p {
    border: 1px solid green;
    padding: 10px;
}

/* GAMEBOARD */
.cards-container {
    border: 2px solid red;
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(6, 1fr);
    gap: 7px;
}

.cards-container>div {
    border: 1px solid white;
    align-self: center;
    justify-self: center;
    padding: 10px;
    cursor: pointer;
}

.cards-container>div>img,
.cards-container>div>p {
    border: 1px solid green;
}